.mergeable table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
}

.mergeable .report-builder-table td {
  width: var(--cell-width);
  padding: 0.2rem;
  height: var(--cell-height);
  border: var(--empty-border);
}

.mergeable .report-builder-table tr:not(:last-child) td {
  border-bottom: 0;
}

.mergeable .report-builder-table tr:not(:last-child) td:not([data-param-key]) {
  border: 0;
  border-bottom: 1px solid #fff;
}

.bg-td-selected {
  background-color: #2196f324 !important;
}

.mergeable table.select-all td {
  background-color: #2196f324;
}

.disabled {
  cursor: not-allowed !important;
}

.bg-custom-gray {
  background-color: #ddd;
}