.mergeable table {
  min-height: 100px;
  border-spacing: 2px;
}

.mergeable .report-builder-table td {
  padding: 0.5rem;
  border: 1px solid;
}

.bg-td-selected {
  background-color: #2196f324 !important;
}

.mergeable table.select-all td {
  background-color: #2196f324;
}

.disabled {
  cursor: not-allowed !important;
}

.bg-custom-gray {
  background-color: #ddd;
}